version: '3.9'
services:
  backend:
    build:
      context: ../backend
      dockerfile: Dockerfile
    env_file:
      - ../backend/.env.example
    ports:
      - '8000:8000'

  frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile
    ports:
      - '5173:80'
    depends_on:
      - backend
